<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Yummy Food Blog</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/assests/css/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/assests/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/assests/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
    <!-- HEADER -->
    <header id="header">
        <!-- NAV -->
        <div id="nav">
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">
                    <!-- social -->
                    <ul class="nav-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- /social -->
                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="index.html" class="logo"><img src="~/asests/images/logo.png" style="background-color: #ee4266; border: 5px solid #ee4266;width: 60%;" alt=""></a>
                    </div>
                    <!-- /logo -->
                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="aside-btn"><i class="fa fa-bars"></i></button>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div id="nav-search">
                            <form>
                                <input class="input" name="search" placeholder="Enter your search...">
                            </form>
                            <button class="nav-close search-close">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Top Nav -->
            <!-- Main Nav -->
            <div id="nav-bottom">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu">
                        <li>
                            <a href="index.html">Trang chủ</a>

                        </li>
                        <li class="has-dropdown megamenu">
                            <a href="#">Công Thức</a>
                            <div class="dropdown tab-dropdown">
                                <div class="row">
                                    <div class="col-md-2">
                                        <ul class="tab-nav">
                                            <li class="active"><a data-toggle="tab" href="#tab1">Bánh mì</a></li>
                                            <li><a data-toggle="tab" href="#tab2">Bánh Ngọt</a></li>
                                            <li><a data-toggle="tab" href="#tab3">Đồ uống</a></li>
                                            <li><a data-toggle="tab" href="#tab4">Món Khai vị</a></li>
                                            <li><a data-toggle="tab" href="#tab5">Món chính</a></li>
                                            <li><a data-toggle="tab" href="#tab6">Món phụ</a></li>
                                            <li><a data-toggle="tab" href="#tab7">MÓn tráng miệng</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="dropdown-body tab-content">
                                            <!-- tab1 -->
                                            <div id="tab1" class="tab-pane fade in active">
                                                <div class="row">
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-5.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-8.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Fashion</a>
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-9.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                </div>
                                            </div>
                                            <!-- /tab1 -->
                                            <!-- tab2 -->
                                            <div id="tab2" class="tab-pane fade in">
                                                <div class="row">
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-5.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-8.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Fashion</a>
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-9.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                </div>
                                            </div>
                                            <!-- /tab2 -->
                                            <!-- tab3 -->
                                            <div id="tab3" class="tab-pane fade in">
                                                <div class="row">
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-5.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-8.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Fashion</a>
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                    <!-- post -->
                                                    <div class="col-md-4">
                                                        <div class="post post-sm">
                                                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-9.jpg" alt=""></a>
                                                            <div class="post-body">
                                                                <div class="post-category">
                                                                    <a href="category.html">Lifestyle</a>
                                                                </div>
                                                                <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                                                <ul class="post-meta">
                                                                    <li><a href="author.html">John Doe</a></li>
                                                                    <li>20 April 2018</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /post -->
                                                </div>
                                            </div>
                                            <!-- /tab3 -->
                                            <!-- /tab3 tab4 .. -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="has-dropdown megamenu">
                            <a href="#">Cảm hứng sống</a>
                            <div class="dropdown">
                                <div class="dropdown-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Categories</h4>
                                            <ul class="dropdown-list">
                                                <li><a href="#">Lifestyle</a></li>
                                                <li><a href="#">Fashion</a></li>
                                                <li><a href="#">Technology</a></li>
                                                <li><a href="#">Health</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Lifestyle</h4>
                                            <ul class="dropdown-list">
                                                <li><a href="#">Lifestyle</a></li>
                                                <li><a href="#">Fashion</a></li>
                                                <li><a href="#">Health</a></li>
                                            </ul>
                                            <h4 class="dropdown-heading">Technology</h4>
                                            <ul class="dropdown-list">
                                                <li><a href="#">Lifestyle</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Fashion</h4>
                                            <ul class="dropdown-list">
                                                <li><a href="#">Fashion</a></li>
                                                <li><a href="#">Technology</a></li>
                                            </ul>
                                            <h4 class="dropdown-heading">Travel</h4>
                                            <ul class="dropdown-list">
                                                <li><a href="#">Lifestyle</a></li>
                                                <li><a href="#">Healtth</a></li>
                                                <li><a href="#">Fashion</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Health</h4>
                                            <ul class="dropdown-list">
                                                <li><a href="#">Technology</a></li>
                                                <li><a href="#">Fashion</a></li>
                                                <li><a href="#">Health</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Mẹo Vặt</a></li>
                        <li class="has-dropdown">
                            <a href="#">Góc Review</a>
                            <div class="dropdown">
                                <div class="dropdown-body">
                                    <ul class="dropdown-list">
                                        <li><a href="category.html">Ẩm thực ba miền</a></li>
                                        <li><a href="blog-post.html">Nấu nướng</a></li>
                                        <li><a href="author.html">Thế giới món ngon</a></li>
                                        <li><a href="about.html">Văn hoá ẩm thực</a></li>
                                        <li><a href="contact.html">Món ăn và sức khoẻ</a></li>
                                        <li><a href="blank.html">Dạy nấu ăn pha chế</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /nav -->
                </div>
            </div>
            <!-- /Main Nav -->
            <!-- Aside Nav -->
            <div id="nav-aside">
                <ul class="nav-aside-menu">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="has-dropdown">
                        <a>Công thức</a>
                        <ul class="dropdown">
                            <li><a href="#">Bánh mì</a></li>
                            <li><a href="#">Bánh Ngọt</a></li>
                            <li><a href="#">Đồ uống</a></li>
                            <li><a href="#">Món Khai vị</a></li>
                            <li><a href="#">MÓn chính</a></li>
                            <li><a href="#">Món phụ</a></li>
                            <li><a href="#">MÓn tráng miệng</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">Về chúng tôi</a></li>
                    <li><a href="contact.html">Liên lạc</a></li>
                </ul>
                <button class="nav-close nav-aside-close"><span></span></button>
            </div>
            <!-- /Aside Nav -->
        </div>
        <!-- /NAV -->
    </header>
    <!-- /HEADER -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div id="hot-post" class="row hot-post">
                <div class="col-md-8 hot-post-left">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/images/Phan1.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Phần 1:</a>
                            </div>
                            <h3 class="post-title title-lg"><a href="blog-post.html">Ăn các món này với nhau sẽ đem đên sức khoẻ tuyệt vời.</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">Thao Nguyen</a></li>
                                <li>22, T3, 2020</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4 hot-post-right">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/images/Phan2.png" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Phần 2:</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Tìm hiểu những cách tách lòng đỏ và lòng trắng trứng hiệu quả nhất.</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">Thao Nguyen</a></li>
                                <li>16 T6, 2020</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/images/Phan3.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Phần 3:</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Tổng hợp các loại rau tuyệt vời cho người giảm cân.</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">Thao Nguyen</a></li>
                                <li>18, T11, 2020</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-8">
                    <!-- row -->
    @RenderBody()
                    <!-- /row -->
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="title">BÁNH NGỌT</h2>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/images/BanhNgot1.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Công thức</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Cách làm bánh chuối nướng Chocolate.</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/images/BanhNgot2.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Công thức</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Cách làm Coco-Brownie hoàn hảo như crush của bạn.</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/images/BanhNgot3.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Công thức</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Cách làm Bizcocho De LiMon bánh truyền thống Tây Ban Nha.</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /row -->
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="title">Ký ức Hà Nội</h2>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/images/KyUcHN1.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Cảm hứng sống</a>
                                        <a href="category.html">Ký ức Hà Nội</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Món ngon dân dã ngày xuân – Bánh đúc lạc </a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/images/KyUcHN2.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Cảm hứng sống</a>
                                        <a href="category.html">Ký ức Hà Nội</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Cách làm bắp xào  tép "Một thời để nhớ"</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/images/KyUcHN3.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Cảm hứng sống</a>
                                        <a href="category.html">Ký ức Hà Nội</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Cách làm mắm tép chưng tóp mỡ thịt băm.</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /row -->
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="title">Technology & Health</h2>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-4.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Health</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-1.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Travel</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-3.jpg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html">Lifestyle</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">Thao Nguyen</a></li>
                                        <li>20, T3, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /row -->
                </div>
                <div class="col-md-4">
                    <!-- ad widget-->
                    <div class="aside-widget text-center">
                        <a href="author.html" style="display: inline-block;margin: auto;">
                            <img style="border-radius: 50%; margin: auto;" class="img-responsive" src="~/asests/images/avt.jpg" alt="">
                            <p> Góc nhỏ mày mò chia sẻ công thức nấu ăn, làm bánh, review đồ bếp. Chia sẻ tình yêu gia đình, bếp, vườn, chụp ảnh, du lịch...</p>
                        </a>
                    </div>
                    <!-- /ad widget -->
                    <!-- social widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Truyền thông & xã hội</h2>
                        </div>
                        <div class="social-widget">
                            <ul>
                                <li>
                                    <a href="#" class="social-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span>21.2K<br>Theo dõi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <span>10.2K<br>Theo dõi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-google-plus">
                                        <i class="fa fa-google-plus"></i>
                                        <span>5K<br>Theo dõi</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /social widget -->
                    <!-- newsletter widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Liên hệ với tôi</h2>
                        </div>
                        <div class="newsletter-widget">
                            <form>
                                <p>Thêm Email để chúng ta cùng nhau chia sẻ ẩm thực.</p>
                                <input class="input" name="newsletter" placeholder="Nhập Email...">
                                <button class="primary-button">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                    <!-- /newsletter widget -->
                    <!-- category widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">DANH MỤC</h2>
                        </div>
                        <div class="category-widget">
                            <ul>
                                <li>
                                    <a href="#">Công thức <span>451</span></a>
                                </li>
                                <li><a href="#">Cảm hứng sống <span>230</span></a></li>
                                <li><a href="#">Mẹo vặt <span>40</span></a></li>
                                <li><a href="#">Góc review<span>38</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /category widget -->
                    <!-- post widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Bài đăng nổi bật</h2>
                        </div>
                        <!-- post -->
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-3.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-2.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Technology</a>
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-4.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                            </div>
                        </div>
                        <!-- /post -->
                        <!-- post -->
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-5.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                            </div>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /post widget -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ad -->
                <div class="col-md-12 section-row text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/asests/img/ad-2.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="section-title">
                        <h2 class="title">Lifestyle</h2>
                    </div>
                    <!-- post -->
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Fashion</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4">
                    <div class="section-title">
                        <h2 class="title">Fashion</h2>
                    </div>
                    <!-- post -->
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-5.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4">
                    <div class="section-title">
                        <h2 class="title">Health</h2>
                    </div>
                    <!-- post -->
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-9.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-1.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Travel</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Technology</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-3.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4">
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-4.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Health</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- /post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-5.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Health</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Fashion</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4">
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-8.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Travel</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-9.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Technology</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-widget">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/widget-10.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-8">
                    <!-- post -->
                    <div class="post post-row">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-13.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Travel</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-row">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-1.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Travel</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-row">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-5.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-row">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Fashion</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="post post-row">
                        <a class="post-img" href="blog-post.html"><img src="~/asests/img/post-7.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Health</a>
                                <a href="category.html">Lifestyle</a>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                            <ul class="post-meta">
                                <li><a href="author.html">John Doe</a></li>
                                <li>20 April 2018</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>
                    <!-- /post -->

                    <div class="section-row loadmore text-center">
                        <a href="#" class="primary-button">Load More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- galery widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Instagram</h2>
                        </div>
                        <div class="galery-widget">
                            <ul>
                                <li><a href="#"><img src="~/asests/img/galery-1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/asests/img/galery-2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/asests/img/galery-3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/asests/img/galery-4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/asests/img/galery-5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/asests/img/galery-6.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /galery widget -->
                    <!-- Ad widget -->
                    <div class="aside-widget text-center">
                        <a href="#" style="display: inline-block;margin: auto;">
                            <img class="img-responsive" src="~/asests/img/ad-1.jpg" alt="">
                        </a>
                    </div>
                    <!-- /Ad widget -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo"><img src="~/asests/images/logo.png" style="background-color: #ee4266; border: 5px solid #ee4266; width: 60%" alt=""></a>
                        </div>
                        <p>Chúng tôi luôn đông hành chia sẻ ẩm thực cùng bạn!!!</p>
                        <ul class="contact-social">
                            <li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Danh Mục</h3>
                        <div class="category-widget">
                            <ul>
                                <li><a href="#">Công thức <span>451</span></a></li>
                                <li><a href="#">Cảm hứng sống <span>230</span></a></li>
                                <li><a href="#">Mẹo vặt <span>40</span></a></li>
                                <li><a href="#">Góc review<span>38</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Tags</h3>
                        <div class="tags-widget">
                            <ul>
                                <li><a href="#">Social</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Life</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Magazine</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Health</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">LIÊN HỆ VỚI TÔI</h3>
                        <div class="newsletter-widget">
                            <form>
                                <p>Thêm Email để chúng ta cùng nhau chia sẻ ẩm thực.</p>
                                <input class="input" name="newsletter" placeholder="Nhập Email...">
                                <button class="primary-button">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="footer-bottom row">
                <div class="col-md-6 col-md-push-6">
                    <ul class="footer-nav">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="about.html">Về chúng tôi</a></li>
                        <li><a href="contact.html">Liên lạc</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="footer-copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Tất cả các quyền. | Thiết kế và phát triển <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"> Thao Nguyen</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/asests/js/jquery.min.js"></script>
    <script src="~/asests/js/bootstrap.min.js"></script>
    <script src="~/asests/js/jquery.stellar.min.js"></script>
    <script src="~/asests/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
